[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/DQuantz
[access "refs/for/refs/*"]
	read = group user/DQuantz
	push = group user/DQuantz
	label-Code-Review = -2..+2 group user/DQuantz
	label-Verified = -1..+1 group user/DQuantz
	rebase = group user/DQuantz
	removeReviewer = group user/DQuantz
	submit = group user/DQuantz
[access "refs/heads/*"]
	read = group user/DQuantz
	create = group user/DQuantz
	push = +force group user/DQuantz
	pushMerge = group user/DQuantz
[access "refs/tags/*"]
	push = +force group user/DQuantz
	pushTag = group user/DQuantz
	pushSignedTag = group user/DQuantz
